table {
    border: 1px solid white;
    color: white;
    border-collapse: collapse;
    width: 100%;
}

thead tr th {
    border: 1px solid white;
    font-size: 0.9em;
    padding: 5px 0px;
}

tbody td {
    border: 1px solid white;
    padding: 5px 0px;
    text-align: center;
}